@keyframes rollDice {
  0% {
    transform: rotate(90deg);

    transform: translateX(5px);
  }
  20% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotate(-360deg);
    transform: translateY(0px);
  }
}
