@keyframes rollDice {
  0% {
    transform: rotate(90deg);
    transform: translateX(5px);
  }
  20% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(360deg);
    transform: translateY(60px);
  }

  100% {
    transform: rotate(-360deg);
    transform: translateY(0px);
  }
}
