@keyframes rollDice {
  0% {
  }
  20% {
    transform: rotate(90deg);
    transform: translateX(60px);
  }
  60% {
    transform: rotate(150deg);
  }
  100% {
    transform: rotate(-360deg);
    transform: translateY(80px);
  }
}
