* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

a {
  color: #2604d3;
}
body {
  background-color: #9e2a2b;
}

header {
  background-color: rgba(201, 201, 201, 0.459);
  text-align: center;
}
.primary-heading {
  text-transform: uppercase;
  color: black;
  font-size: 4rem;
}

.section-introduction {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.section-introduction-img {
  height: 25rem;
  border-radius: 5rem;
}

.primary-heading-introduction {
  text-transform: uppercase;
  color: white;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.cta-primary {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  background-color: #2604d3;
  border-radius: 100px;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-right: 1.5rem;
}

.cta-white {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 10px 20px;
  text-transform: uppercase;
}

/* MODAL AREA */

/* SPEL ------------------------- */

.game {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game--board {
  height: 50rem;
  width: 70rem;
  background-color: #428300;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yahtzee--card {
  background-color: #ffffff;
  /* border: 2px solid black; */
  display: grid;
  grid-template-rows: 35px;
  grid-template-columns: 20rem 15rem;
  font-size: 2rem;
  text-align: center;
}

.yahtzee {
  border: 0.2rem solid black;
}
.yahtzee-1 {
  border: 0.4rem solid black;
}
